{% extends 'base.html.twig' %}

{% block title %}Edit TodoList{% endblock %}

{% block body %}
    <h1>Edit TodoList</h1>

    {{ include('todo_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('todo_list_index') }}">back to list</a>

    {{ include('todo_list/_delete_form.html.twig') }}
{% endblock %}
