{% extends 'base.html.twig' %}

{% block title %}TodoList index{% endblock %}

{% block body %}
    <h1>TodoList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo_list in todo_lists %}
            <tr>
                <td>{{ todo_list.id }}</td>
                <td>
                    <a href="{{ path('todo_list_show', {'id': todo_list.id}) }}">show</a>
                    <a href="{{ path('todo_list_edit', {'id': todo_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('todo_list_new') }}">Create new</a>
{% endblock %}
